<%- include( './head' ) %>

<header>
        <h1>Catalogus van de Amsterdamse geschiedenis</h1>
        <p>Categorie overzicht</p>
</header>

<%- include( './overview' ) %>

<%- include( './end' ) %>
